@charset "UTF-8";
/*IDEAS SIN REALIZAR / PROBLEMAS SIN SOLUCIONAR POR FALTA DE TIEMPO:
1- AGRANDAR CARRUSELES CON HOVER
2- HACER QUE TODAS LAS IMAGENES TENGAN EL "ZOOM" DEL CARRUSEL DEL INDEX
3- IMPLEMENTAR BOTON "VER MAS" EN CARDS Y CARRUSELES DE GPU/CPU CON INFORMACION DE CADA PRODUCTO
(HARIAN VISIBLE UN DIV CON DISPLAY:HIDDEN Y POSITION:ABSOLUTE)
4- INDICE DE PREGUNTAS DE FAQ Y SUBIR LA CANTIDAD DE PREGUNTAS A 20 PARA DARLE UNA FUNCION REAL AL INDICE
5- AGREGAR UNA LEYENDA CON POSITION:ABSOLUTE Y DISPLAY:HIDDEN EN LA IMAGEN DE CONTACTO
6- ENCONTRARLE UNA SOLUCION PARA QUE LOS CARRUSELES EMPIECEN DESDE EL ITEM 1 SIN UNA TARJETA 0*/
/* COLOR HEADER, COLOR MAS LLAMATIVO DE LA PAGINA */
/* COLOR SECUNDARIO, DEBERIA COMPLOMENTAR AL COLOR 1 */
/* COLOR DE TEXTO/FONDO CLAROS PARA TEXTO/FONDOS OSCUROS*/
/* COLOR DE TEXTO/FONDO OSCUROS PARA TEXTO/FONDOS CLAROS*/
/* COLOR PARA ENLACES */
.aparecer {
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

@keyframes llegar-abajo {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes llegar-izquierda {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}
* {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  list-style: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  color: rgb(189, 189, 189);
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
}

h2 {
  color: rgb(189, 189, 189);
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
}

h3 {
  color: rgb(189, 189, 189);
  text-align: center;
  text-decoration: underline;
  font-size: x-large;
}

body {
  background-color: rgb(0, 0, 0);
}

/*FOOTER*/
footer {
  background-color: rgb(255, 37, 37);
  color: black;
  height: 100%;
  position: sticky;
  bottom: 0;
  overflow: hidden;
  max-width: 100vw;
  top: 20px;
  display: flex;
  flex-direction: column;
  animation-duration: 0.5s;
  animation-name: llegar-abajo;
  animation-iteration-count: 1;
}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: rgb(189, 189, 189);
  transition: 0.3s;
}

.botones-footer img {
  height: 30px;
}
.botones-footer img:hover {
  background-color: rgba(255, 100, 80, 0.4);
  border-radius: 30%;
  overflow: hidden;
  transition: 0.3s;
}

header {
  background-color: rgb(255, 37, 37);
  border-style: inset;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  animation-duration: 0.6s;
  animation-name: llegar-izquierda;
  animation-iteration-count: 1;
}
header .logo {
  width: 30%;
  height: 100%;
  display: flex;
  padding: 5px;
  justify-content: space-around;
}
header .logo h1 {
  margin-left: 10px;
}
header .logo .amd-icono {
  height: 50px;
  width: 50px;
  background-image: url(../icon/amd_icon_inverted.png);
}
header .logo img {
  height: 50px;
  width: 50px;
}
header .logo img:hover {
  transition: 0.2s;
  opacity: 0%;
}
header .botones-header {
  width: 60%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}
header .botones-header a {
  max-width: 20%;
  color: black;
  text-decoration: none;
}
header .botones-header a p {
  font-size: x-large;
  text-justify: distribute;
  justify-content: center;
}
header .botones-header a:hover {
  transition: 0.5s ease;
  color: white;
}

main {
  align-items: center;
  color: rgb(255, 37, 37);
  background-image: linear-gradient(to bottom, black, grey);
  min-height: 1000px;
  padding-bottom: 20px;
}
main::before {
  content: "";
  display: block;
  position: relative;
  height: 20px; /* Ajusta el valor según el margen superior que hayas aplicado */
  background-color: inherit;
}

/* CONTENEDOR IMAGEN + TEXTO */
.imagenytexto {
  height: 50vh;
  display: flex;
  padding: 0.5%;
  background: rgb(135, 135, 135);
  border: 2px black solid;
  border-radius: 2%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  justify-content: space-around;
}
.imagenytexto:hover {
  transition: all 0.6s ease;
  margin-left: 11%;
  margin-right: 11%;
  margin-bottom: 1%;
  height: 53vh;
}
.imagenytexto:not(:hover) {
  transition: all 0.6s ease;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 1%;
}
.imagenytexto .texto-mitad {
  width: 49%;
  height: fit-content;
  padding: 1%;
  border: 2px black solid;
  border-radius: 20px;
  color: rgb(189, 189, 189);
  background-color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.imagenytexto .texto-mitad p {
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.imagenytexto .texto-mitad h3 {
  display: flex;
  height: min-content;
  font-size: xx-large;
  color: rgb(255, 37, 37);
}
.imagenytexto .imagen-mitad {
  width: 49%;
  height: 99%;
  border-radius: 20px;
  overflow: hidden;
  border: 2px black solid;
}
.imagenytexto .imagen-mitad img {
  height: 100%;
  width: 100%;
}

/* CARTAS */
.contenedor-cartas {
  width: 100vm;
  height: 430px;
  display: flex;
  justify-content: center;
}
.contenedor-cartas .card {
  width: 370px;
  height: 320px;
  border-radius: 8px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  background-color: rgb(135, 135, 135);
  color: rgb(0, 0, 0);
  border: 3px rgb(255, 37, 37) solid;
  transition: 0.4s ease-out;
}
.contenedor-cartas .card:hover {
  border: 4px rgb(189, 189, 189) solid;
  width: 410px;
  height: 350px;
}
.contenedor-cartas .card:hover a {
  color: rgb(212, 212, 212);
  transition: 0.3s ease-out;
  font-size: 115%;
}
.contenedor-cartas .card-noticias {
  width: 290px;
  height: 320px;
  border-radius: 8px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  background-color: rgb(135, 135, 135);
  color: rgb(0, 0, 0);
  border: 3px rgb(255, 37, 37) solid;
  transition: 0.4s ease-out;
}
.contenedor-cartas .card-noticias img {
  max-height: 75%;
}
.contenedor-cartas .card-noticias .texto-carta {
  height: 25%;
}
.contenedor-cartas .card-noticias:hover {
  border: 4px rgb(189, 189, 189) solid;
  width: 330px;
  height: 350px;
}
.contenedor-cartas .card-noticias:hover a {
  color: rgb(212, 212, 212);
  transition: 0.3s ease-out;
  font-size: 115%;
}
.contenedor-cartas .texto-carta {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-around;
  text-decoration: underline;
  text-align: center;
  text-shadow: rgb(58, 58, 58) 2px 2px 5px;
  color: rgb(0, 0, 0);
  font-size: 110%;
}
.contenedor-cartas a {
  color: black;
}
.contenedor-cartas a img {
  height: 80%;
  width: 100%;
  border-radius: 5px;
}

/* CARRUSEL */
.items-carrusel {
  border-radius: 20px;
  height: 330px;
  width: 250px;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  border: 3px rgb(255, 37, 37) solid;
  background-color: rgb(135, 135, 135);
}
.items-carrusel:hover {
  border: 4px rgb(189, 189, 189) solid;
}
.items-carrusel:hover #carrusel-p-destacados-1 {
  content: url(../images/index/index-amd-ryzen-logo-zoom.png);
}
.items-carrusel:hover #carrusel-p-destacados-2 {
  content: url(../images/index/index-amd-radeon-logo-zoom.png);
}
.items-carrusel:hover #carrusel-p-destacados-3 {
  content: url(../images/index/index-amd-epyc-logo-zoom.png);
}
.items-carrusel:hover .item-carrusel .tarjeta-carrusel .texto-carta a {
  color: rgb(212, 212, 212);
  font-size: 19px;
  transition: 0.3s;
}
.items-carrusel a {
  height: 1px;
  width: 100%;
}
.items-carrusel .item-carrusel {
  height: 330px;
  position: relative;
  width: 250px;
}
.items-carrusel .item-carrusel .tarjeta-carrusel {
  height: inherit;
  width: inherit;
  border-radius: 20px;
}
.items-carrusel .item-carrusel .tarjeta-carrusel .texto-carta {
  height: 30%;
  display: flex;
  align-items: center;
  padding: 5%;
  padding-top: 0px;
}
.items-carrusel .item-carrusel .tarjeta-carrusel .texto-carta a {
  display: flex;
  font-size: large;
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.items-carrusel .item-carrusel .tarjeta-carrusel img {
  border-radius: 16px;
  height: 70%;
  width: 100%;
}
.items-carrusel .flechas-carrusel {
  top: 50%;
  height: 1px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: absolute;
}
.items-carrusel .flechas-carrusel .flechaizq {
  display: flex;
  justify-content: left;
  height: 50px;
  width: 20%;
}
.items-carrusel .flechas-carrusel .flechaizq img {
  height: 20px;
  width: 20px;
  position: top;
  scroll-margin-top: 0;
  z-index: 10;
}
.items-carrusel .flechas-carrusel .espacioflechas {
  display: flex;
  justify-content: center;
  width: 60%;
}
.items-carrusel .flechas-carrusel .flechader {
  display: flex;
  justify-content: right;
  height: 50px;
  width: 20%;
}
.items-carrusel .flechas-carrusel .flechader img {
  height: 20px;
  width: 20px;
  position: top;
  scroll-margin-top: 0;
  z-index: 10;
}

#item-carrusel0,
#tarjeta-carrusel0 {
  width: 500px;
}

#item-noticias0,
#tarjeta-noticias0 {
  width: 750px;
}

.foto-contacto {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  border-radius: 20px;
  border: 3px rgb(255, 37, 37) solid;
  transition: 0.6s;
}
.foto-contacto img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.foto-contacto:hover {
  margin-left: 18%;
  margin-right: 18%;
  border: 4px rgb(189, 189, 189) solid;
}

.grid-localidades {
  margin: auto;
  width: 62%;
  display: grid;
  height: 65vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(135, 135, 135);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.gridloca-1,
.gridloca-2,
.gridloca-3,
.gridloca-4,
.gridloca-5,
.gridloca-6,
.gridloca-7,
.gridloca-8,
.gridloca-9 {
  padding: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.gridloca-1:hover h4, .gridloca-1:active h4,
.gridloca-2:hover h4,
.gridloca-2:active h4,
.gridloca-3:hover h4,
.gridloca-3:active h4,
.gridloca-4:hover h4,
.gridloca-4:active h4,
.gridloca-5:hover h4,
.gridloca-5:active h4,
.gridloca-6:hover h4,
.gridloca-6:active h4,
.gridloca-7:hover h4,
.gridloca-7:active h4,
.gridloca-8:hover h4,
.gridloca-8:active h4,
.gridloca-9:hover h4,
.gridloca-9:active h4 {
  font-size: 160%;
  color: rgb(189, 189, 189);
  transition: 0.3s;
}
.gridloca-1:hover p, .gridloca-1:active p,
.gridloca-2:hover p,
.gridloca-2:active p,
.gridloca-3:hover p,
.gridloca-3:active p,
.gridloca-4:hover p,
.gridloca-4:active p,
.gridloca-5:hover p,
.gridloca-5:active p,
.gridloca-6:hover p,
.gridloca-6:active p,
.gridloca-7:hover p,
.gridloca-7:active p,
.gridloca-8:hover p,
.gridloca-8:active p,
.gridloca-9:hover p,
.gridloca-9:active p {
  font-size: 130%;
  transition: 0.3s;
}
.gridloca-1 h4,
.gridloca-2 h4,
.gridloca-3 h4,
.gridloca-4 h4,
.gridloca-5 h4,
.gridloca-6 h4,
.gridloca-7 h4,
.gridloca-8 h4,
.gridloca-9 h4 {
  margin: 0;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-size: 150%;
}
.gridloca-1 p,
.gridloca-2 p,
.gridloca-3 p,
.gridloca-4 p,
.gridloca-5 p,
.gridloca-6 p,
.gridloca-7 p,
.gridloca-8 p,
.gridloca-9 p {
  font-size: 120%;
  margin: 0;
}

.estructuracontacto {
  display: flex;
  justify-content: space-around;
}

.contenedorformulario {
  color: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(135, 135, 135);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.contenedorformulario p {
  text-align: center;
  font-size: larger;
}

.formulariocontacto {
  display: flex;
  flex-direction: column;
}

.localidad {
  margin: auto;
  display: flex;
  padding-top: 10px;
}

.contenedor-cartas-productos {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.contenedor-cartas-productos .card {
  width: 330px;
  height: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  justify-content: center;
  background-color: rgb(102, 102, 102);
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 3px rgb(255, 37, 37) solid;
  transition: 0.4s;
}
.contenedor-cartas-productos .card .texto-carta {
  min-height: 40%;
}
.contenedor-cartas-productos .card img {
  width: 100%;
  height: 80%;
  border: 0;
  background-image: url(../images/fondo-productos.png);
}
.contenedor-cartas-productos .card a {
  text-decoration: underline;
  text-shadow: rgb(58, 58, 58) 2px 2px 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.contenedor-cartas-productos .card:hover {
  width: 350px;
  height: 310px;
  border: 3px white solid;
}
.contenedor-cartas-productos .card:hover a {
  color: rgb(212, 212, 212);
  transition: 0.4s;
  font-size: 22px;
}

#item-carrusel-r7-0, #tarjeta-carrusel-r7-0 {
  width: 2250px;
}

#item-carrusel-r5-0, #tarjeta-carrusel-r5-0 {
  width: 2250px;
}

#item-carrusel-rx7-0, #tarjeta-carrusel-rx7-0 {
  width: 500px;
}

#item-carrusel-rx6-0, #tarjeta-carrusel-rx6-0 {
  width: 2750px;
}

.boton-carrusel {
  position: absolute;
  left: 37%;
  display: flex;
  top: 90%;
  text-decoration: none;
  color: black;
}

#info-rx7 {
  width: 1200px;
  height: 320px;
  display: none;
}

.items-carrusel-p {
  border-radius: 20px;
  height: 330px;
  width: 250px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  border: 3px rgb(255, 37, 37) solid;
  background-color: rgb(135, 135, 135);
}
.items-carrusel-p:hover {
  border: 4px rgb(189, 189, 189) solid;
}
.items-carrusel-p:hover .item-carrusel .tarjeta-carrusel .texto-carta a {
  color: rgb(212, 212, 212);
  font-size: 19px;
  transition: 0.3s;
}
.items-carrusel-p a {
  height: 1px;
  width: 100%;
}
.items-carrusel-p .item-carrusel {
  height: 330px;
  position: relative;
  width: 250px;
}
.items-carrusel-p .item-carrusel .tarjeta-carrusel {
  height: inherit;
  width: inherit;
  border-radius: 20px;
}
.items-carrusel-p .item-carrusel .tarjeta-carrusel .texto-carta {
  height: 15%;
  display: flex;
  align-items: center;
  padding: 5%;
  padding-top: 0px;
}
.items-carrusel-p .item-carrusel .tarjeta-carrusel .texto-carta a {
  display: flex;
  font-size: large;
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-shadow: rgb(58, 58, 58) 2px 2px 5px;
}
.items-carrusel-p .item-carrusel .tarjeta-carrusel img {
  border-radius: 16px;
  height: 80%;
  width: 100%;
  padding: 10px;
  background-image: url(../images/fondo-productos.png);
}
.items-carrusel-p .flechas-carrusel {
  top: 50%;
  height: 1px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: absolute;
}
.items-carrusel-p .flechas-carrusel .flechaizq {
  display: flex;
  justify-content: left;
  height: 50px;
  width: 20%;
}
.items-carrusel-p .flechas-carrusel .flechaizq img {
  height: 20px;
  width: 20px;
  position: top;
  scroll-margin-top: 0;
  z-index: 10;
}
.items-carrusel-p .flechas-carrusel .espacioflechas {
  display: flex;
  justify-content: center;
  width: 60%;
}
.items-carrusel-p .flechas-carrusel .flechader {
  display: flex;
  justify-content: right;
  height: 50px;
  width: 20%;
}
.items-carrusel-p .flechas-carrusel .flechader img {
  height: 20px;
  width: 20px;
  position: top;
  scroll-margin-top: 0;
  z-index: 10;
}

.grid-faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(135, 135, 135);
  border-radius: 15px;
  padding: 10px;
}
.grid-faq .grid-item-p {
  font-size: large;
  margin-right: 5px;
  background-color: rgb(189, 189, 189);
  padding: 10px;
  border-radius: 10px;
  height: 95%;
  color: rgb(0, 0, 0);
}
.grid-faq .grid-item-r {
  margin-left: 5px;
  color: rgb(189, 189, 189);
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  height: 95%;
}

@media (max-width: 400px) {
  .imagen-mitad {
    max-width: 250px;
    max-height: 200px;
  }
  header .logo {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  header .logo p {
    font-size: x-large;
    margin-left: 10px;
  }
  header .botones-header {
    border-left: 2px black solid;
    width: 50%;
    display: block;
    text-align: left;
  }
  .contenedor-cartas {
    display: none;
  }
  .foto-contacto {
    width: 98%;
    margin: auto;
    margin-top: 5px;
  }
  .imagenytexto {
    width: 98%;
    margin: auto;
    margin-top: 5px;
    flex-direction: column;
  }
  .imagenytexto .texto-mitad {
    width: 98%;
  }
  .imagenytexto .texto-mitad p {
    font-size: medium;
  }
  .imagenytexto .imagen-mitad {
    width: 98%;
  }
  .imagenytexto:not(:hover) {
    margin-left: 0;
    margin-right: 0;
  }
  .grid-localidades {
    flex-direction: column;
    display: flex;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
    width: 90%;
  }
  .grid-localidades h4 {
    font-size: large;
  }
  .grid-localidades p {
    font-size: medium;
  }
  .contenedorformulario {
    margin-top: 20px;
    width: 90%;
  }
  .contenedor-cartas-productos {
    display: none;
  }
  .grid-faq .grid-item-r {
    font-size: small;
    padding-bottom: 20px;
  }
}
@media (max-width: 850px) and (min-width: 401px) {
  .contenedor-cartas,
  .contenedor-cartas-productos {
    display: none;
  }
  .foto-contacto {
    margin: 20px;
  }
  .grid-faq .grid-item-r {
    font-size: small;
    padding-bottom: 20px;
  }
  .grid-localidades {
    height: fit-content;
    width: 90%;
    margin-top: 20px;
  }
  .botones-header {
    flex-direction: column;
    max-width: 60%;
  }
  .card {
    display: none;
  }
  header .logo {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  header .logo p {
    font-size: x-large;
    margin-left: 10px;
  }
  header .botones-header {
    border-left: 2px black solid;
    width: 50%;
    display: block;
    text-align: left;
  }
  .grid-localidades {
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
  .footer {
    flex-direction: row;
  }
  .imagenytexto {
    flex-direction: column;
    height: 75vh;
  }
  .imagenytexto .texto-mitad {
    height: max-content;
    width: 80%;
  }
  .imagenytexto .texto-mitad p {
    font-size: medium;
  }
  .imagenytexto .imagen-mitad {
    max-height: 90%;
    width: 90%;
    margin: 5px;
  }
  .imagenytexto:not(:hover) {
    margin-left: 3%;
    margin-right: 3%;
  }
  .imagenytexto:hover {
    margin-left: 1%;
    margin-right: 1%;
    height: 78vh;
  }
  .contenedorformulario {
    margin-top: 20px;
    width: 90%;
  }
  .items-carrusel {
    margin-top: 5px;
  }
}
@media (max-width: 1120px) and (min-width: 851px) {
  /* INDEX, GPU, CPU*/
  .contenedor-cartas,
  .contenedor-cartas-productos {
    display: none;
  }
  .imagenytexto {
    flex-direction: column;
    height: 80vh;
  }
  .imagenytexto .texto-mitad {
    height: max-content;
    width: 85%;
  }
  .imagenytexto .imagen-mitad {
    max-height: 80%;
    width: 85%;
    margin: 5px;
  }
  header .logo p {
    font-size: x-large;
    margin-left: 10px;
  }
  .imagenytexto:not(:hover) {
    margin-left: 10%;
    margin-right: 10%;
  }
  .imagenytexto:hover {
    margin-left: 8%;
    margin-right: 8%;
    height: 83vh;
  }
  .card {
    font-size: small;
  }
  .items-carrusel {
    margin-top: 10px;
  }
  .texto-mitad {
    width: 80%;
    margin: 5px;
  }
  .foto-contacto {
    margin: auto;
    margin-top: 20px;
    width: 80%;
  }
  .grid-localidades {
    width: 80%;
    margin-top: 20px;
  }
  .contenedorformulario {
    margin-top: 20px;
    width: 80%;
  }
}
@media (min-width: 1120px) {
  .flechas-carrusel {
    display: none;
  }
  .items-carrusel, .items-carrusel-p {
    display: none;
  }
  .flecha {
    display: none;
  }
  header .logo p {
    font-size: xx-large;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
