.foto-contacto {
    display: flex;
    margin: auto;
  }
  .grid-localidades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(194, 194, 194);
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 2);
  }
  .gridloca-1,.gridloca-2,.gridloca-3,.gridloca-4,
  .gridloca-5,.gridloca-6,.gridloca-7,.gridloca-8,
  .gridloca-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h4 {
      margin: 0;
      text-decoration: underline;
    }
    p {
      margin: 0;
    }
  }
  .estructuracontacto {
    display: flex;
    justify-content: space-around;
  }
  .contenedorformulario {
    color: rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 2);
    background-color: rgb(194, 194, 194);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .formulariocontacto {
    display: flex;
    flex-direction: column;
  }
  .fabricas {
    width: 75%;
    margin: auto;
  }
  .localidad {
    margin: auto;
    display: flex;
    padding-top: 10px;
  }
  .foto-contacto {
    max-width: 80%;
  }