/* VARIABLE BORDES CAJAS */
$bnegro:2px black solid;

@import "./estilo-header";
@import "./estilo-footer";
@import "./estilo-index";
@import "./estilo-contacto";
@import "./estilo-cpu-gpu";
@import "./estilo-faq";


* {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  list-style: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


/* Formato titulos*/
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: xx-large;
}
h3 {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  font-size: x-large;
}

/*BODY Y MAIN*/
body {
  background-color: rgb(0, 0, 0);
}
main {
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(206, 206, 206);
  min-height: 1000px;
}


/*CAMBIOS PARA MOVIL*/
@media (max-width: 1120px) {
  .contenedor-cartas, .contenedor-cartas-productos {
    display: none;
  }
  .imagenytexto {
    flex-direction: column;
  }
  .texto-mitad-p p {
    font-size: xx-small;
    display: none;
  }
  .card {
    font-size: small;
  }
  .items-carrusel{margin-top: 20px;}
}
@media (max-width: 720px) {
  .botones-header {
    flex-direction: column;
  }
  .imagen-mitad {
    max-width: 400px;
    max-height: 300px;
  }
  .texto-mitad {
    min-height: 300px;
    max-width: 300px;
  }
  .card {
    display: none;
  }
}
@media (min-width:1120px){
  .flechas-carrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }
  .items-carrusel {
    border-radius: 20px;
    height: 330px;
    width: 250px;
    overflow: hidden;
    margin: auto;
    display: none;
  }
  .flecha {
    height: 20px;
    width: 20px;
    position: top;
    z-index: 10;
    display: none;
  }

}




