/*FOOTER*/
footer {
  background-color:$color1;
  color: black;
  height: 100%;
  position: sticky;
  bottom: 0;
  overflow: hidden;
  max-width: 100vw;
  top: 20px;
  display: flex;
  flex-direction: column;
 
  
  a {
    text-decoration: none;
    color: $color4;
    &:hover {
      color: $color2;
      transition: 0.3s;
    }
  }
  animation-duration: 0.5s;
  animation-name: llegar-abajo;
  animation-iteration-count: 1;
}

.botones-footer {
  img {
    height: 30px;
  
    &:hover {
      background-color: rgba(255, 100, 80, 0.4);
      border-radius: 30%;
      overflow: hidden;
      transition: 0.3s;
    }
  }
}
