header {
  background-color:$color1;
  border-style: inset;
  border-color: $color4;
  display: flex;
  justify-content: space-between;
  animation-duration: 0.6s;
  animation-name: llegar-izquierda;
  animation-iteration-count: 1;
  .logo {
    width: 30%;
    height: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    h1{
      margin-left: 10px;
    }
    .amd-icono{
    height: 50px;
    width: 50px;
    background-image:url(../icon/amd_icon_inverted.png)}
    img {
      
      height: 50px;
      width: 50px;
      
      &:hover{transition: 0.2s;
        opacity: 0%;}
    }
  }
  .botones-header {
    width: 60%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    a {
      max-width: 20%;
      color: black;
      text-decoration: none;
      p {
        font-size: x-large;
        text-justify: distribute;
        justify-content: center;
      }

      &:hover {transition: .5s ease;
        color: white;
      }
    }
  }
}
