$bnegro: 2px black solid;
$gradientepagina:linear-gradient(to bottom, black, grey);
$sombra-cajas:4px 4px rgba(0, 0, 0, 0.2);
/* COLOR HEADER, COLOR MAS LLAMATIVO DE LA PAGINA */
$color1: rgb(255, 37, 37);
/* COLOR SECUNDARIO, DEBERIA COMPLOMENTAR AL COLOR 1 */
$color2:rgb(189, 189, 189);
/* COLOR DE TEXTO/FONDO CLAROS PARA TEXTO/FONDOS OSCUROS*/
$color3: rgb(135, 135, 135);
/* COLOR DE TEXTO/FONDO OSCUROS PARA TEXTO/FONDOS CLAROS*/
$color4:rgb(0, 0, 0);

$borde1:3px rgb(255, 37, 37) solid;
$bordes2: 4px rgb(189, 189, 189) solid;

