.imagenytexto {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 0.5%;
  background: rgb(102, 102, 102);
  border: $bnegro;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.texto-mitad {
  width: 30%;
  min-height: 80%;
  border: $bnegro;
  border-radius: 2%;
  color: rgb(189, 189, 189);
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;

  p {

    padding-top: 10px;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
  h3 {
    height: min-content;
    font-size: xx-large;
    color: rgb(255, 37, 37);
  }
}
.texto-mitad-p {
  width: 600px;
  justify-content: center;
  border: $bnegro;
  border-radius: 2%;
  color: rgb(189, 189, 189);
  background-color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  p {
    padding-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  }
  h3 {
    font-size: xx-large;
    color: rgb(255, 37, 37);
  }
}

.imagen-mitad {
  width: 48%;
  height: 50%;
  img{

    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: $bnegro;
    margin: 0px;
    padding: 0px;
  }
}

/*CARTAS*/

.contenedor-cartas {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.card {
  width: 330px;
  height: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  justify-content: space-around;
  background-color: rgb(102, 102, 102);
  color: rgb(0, 0, 0);
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  h4 {
    text-decoration: none;
  }
  .texto-carta {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
  }
  img {
    border: 2px solid white;
    border-style: outset;
    max-height: 70%;
    width: 100%;
    min-height: 60%;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: rgb(170, 170, 170);
      transition: 0.3s;
    }
  }
  h4 {
    padding: 0;
  }
}
/*CARRUSEL INICIO */

.item-carrusel {
  height: 100%;
  position: relative;
  width: 250px;
  margin: auto;
}
.tarjeta-carrusel {
  height: 330px;
  width: 250px;
  text-align: center;
  background-color: rgb(102, 102, 102);
  justify-content: center;
  z-index: -1;
  .texto-carta {
    min-height: 30%;
    text-justify: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  img {
    border-bottom: 2px black solid;
    height: 70%;
    width: 100%;
  }
  h4 {
    text-decoration: none;
    color: black;
    padding: 0;
  }
  a {
    text-decoration: underline;
    color: black;
    &:hover {
      color: rgb(170, 170, 170);
      transition: 0.3s;
    }
  }
}
.flechas-carrusel {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  scroll-margin-top: 0;
}
.items-carrusel {
  border-radius: 20px;
  height: 330px;
  width: 250px;
  left:1250;
  overflow: scroll;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  
}
.flecha {
  height: 20px;
  width: 20px;
  position: top;
  scroll-margin-top: 0;
  z-index: 10;
}
