@media (max-width: 1120px) and (min-width: 851px) {
  /* INDEX, GPU, CPU*/
  .contenedor-cartas,
  .contenedor-cartas-productos {
    display: none;
  }
  .imagenytexto {
    flex-direction: column;
    height: 80vh;
    .texto-mitad {
      height: max-content;
      width: 85%;
    }
    .imagen-mitad {
      max-height: 80%;
      width: 85%;
      margin: 5px;
    }
  }
  header .logo p {
    font-size: x-large;
    margin-left: 10px;
  }

  .imagenytexto:not(:hover) {
    margin-left: 10%;
    margin-right: 10%;
  }
  .imagenytexto:hover {
    margin-left: 8%;
    margin-right: 8%;
    height: 83vh;
  }

  .card {
    font-size: small;
  }
  .items-carrusel {
    margin-top: 10px;
  }

  .texto-mitad {
    width: 80%;
    margin: 5px;
  }
  /* CONTACTO*/
  .foto-contacto {
    margin: auto;
    margin-top: 20px;
    width: 80%;
  }
  .grid-localidades {
    width: 80%;
    margin-top: 20px;
  }
  .contenedorformulario {
    margin-top: 20px;
    width: 80%;
  }
}
