@media (max-width: 800px) {
  .botones-header {
    flex-direction: column;
    max-width: 60%;
  }

  .card {
    display: none;
  }
  .logo {
    min-width: 50%;
  }
  .grid-localidades{
    display: flex;
    flex-direction: column;
  }
  .footer{
    flex-direction: row
  }
}
