@media (min-width: 1120px) {
  .flechas-carrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .items-carrusel {
    border-radius: 20px;
    height: 330px;
    width: 250px;
    overflow: hidden;
    margin: auto;
    display: none;
  }
  .flecha {
    height: 20px;
    width: 20px;
    position: top;
    z-index: 10;
    display: none;
    pointer-events: none;
  }
}
