@media (max-width: 400px) {
  .imagen-mitad {
    max-width: 250px;
    max-height: 200px;
  }
  header{ .logo{display: flex;flex-direction:column;width:  50%;p{font-size: x-large;margin-left: 10px;}}
  .botones-header{
    border-left: $bnegro;
    width: 50%;
    display: block;
    text-align: left;
  }}
  .contenedor-cartas{display: none;}
  .foto-contacto{width: 98%;margin:auto;margin-top: 5px;}
  .imagenytexto{width: 98%;margin: auto;margin-top:5px;flex-direction: column;
  .texto-mitad{width:98%;
  p{font-size: medium;}}
.imagen-mitad{width: 98%;}}
  .imagenytexto:not(:hover) {
    margin-left: 0;
    margin-right: 0;
    
}
.grid-localidades{flex-direction: column;display: flex;height: fit-content;margin:auto;margin-top:10px;width:90%;
.fabrica{font-size: large;}
p{font-size: medium;}}
.contenedorformulario{margin-top:20px;width: 90%;}
.contenedor-cartas-productos{display: none;}
.grid-faq .grid-item-r{font-size: small;padding-bottom: 20px;}
}
