.foto-contacto {
  display: flex;
  margin-left:20%;
  margin-right: 20%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  border-radius: 20px;
  border: $borde1;

  img{height: 100%;
width: 100%;
border-radius: 18px;
  }
&:hover{margin-left: 18%;
margin-right: 18%;
border: $bordes2;}
transition: 0.6s;}
.grid-localidades {
  margin: auto;
  width: 62%;
  display: grid;
  height: 65vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color:$color3;
  color: $color4;
  padding: 10px;
  border-radius: 8px;
  box-shadow: $sombra-cajas;
}
.gridloca-1,
.gridloca-2,
.gridloca-3,
.gridloca-4,
.gridloca-5,
.gridloca-6,
.gridloca-7,
.gridloca-8,
.gridloca-9 {
  padding: 5px;
  text-align: center;
  color: $color4;
  &:hover,&:active{ 
    
  .fabrica{font-size: 160%;color: $color2;transition: 0.3s;}
  p{font-size: 130%;transition: 0.3s;}}
 
  p {
    font-size: 120%;
    margin: 0;
  }
  .fabrica{
    margin: 0;
    color: $color4;
    text-decoration: underline;
    font-size: 150%;}
}
.estructuracontacto {
  display: flex;
  justify-content: space-around;
}
.contenedorformulario {
  color: $color4;
  border-radius: 8px;
  box-shadow: $sombra-cajas;
  background-color: $color3;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  p{text-align: center;font-size: larger;}
}
.formulariocontacto {
  display: flex;
  flex-direction: column;
  
}

.localidad {
  margin: auto;
  display: flex;
  padding-top: 10px;
}

