.foto-contacto {
  display: flex;
  margin-left:20%;
  margin-right: 20%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
  border-radius: 20px;
  border: $borde1;

  img{height: 100%;
width: 100%;
border-radius: 18px;
  }
&:hover{margin-left: 18%;
margin-right: 18%;
border: $bordes2;}
transition: 0.6s;}
.grid-localidades {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color:$color3;
  color: $color4;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  box-shadow: $sombra-cajas;
}
.gridloca-1,
.gridloca-2,
.gridloca-3,
.gridloca-4,
.gridloca-5,
.gridloca-6,
.gridloca-7,
.gridloca-8,
.gridloca-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $color4;
  h4 {
    margin: 0;
    color: $color4;
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
}
.estructuracontacto {
  display: flex;
  justify-content: space-around;
}
.contenedorformulario {
  color: $color4;
  border-radius: 8px;
  box-shadow: $sombra-cajas;
  background-color: $color3;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.formulariocontacto {
  display: flex;
  flex-direction: column;
}
.fabricas {
  width: 75%;
  margin: auto;
}
.localidad {
  margin: auto;
  display: flex;
  padding-top: 10px;
}

