.contenedor-cartas-productos {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;

  .card {
    width: 330px;
    height: 280px;
    border-radius:$b-redondeado;
    box-shadow: $sombra-cajas;
    margin: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(102, 102, 102);
    color: $color4;
    text-decoration: none;

    border: $borde1;

    .texto-carta {
      min-height: 40%;
    }
    img {
      width: 100%;
      height: 80%;
      border: 0;
      background-image: $fondo-productos;
    }
    a {
      text-decoration: underline;
      text-shadow: $sombra-texto;
      color: $color4;
      font-size: 20px;
    }
    transition: 0.4s;
    &:hover {
      width: 350px;
      height: 310px;
      border: $bordes2;
      a {
        color: $color5;
        transition: 0.4s;
        font-size: 22px;
      }
    }
  }
}

#item-carrusel-r7-0,
#tarjeta-carrusel-r7-0 {
  width: 2250px;
}
#item-carrusel-r5-0,
#tarjeta-carrusel-r5-0 {
  width: 2250px;
}
#item-carrusel-rx7-0,
#tarjeta-carrusel-rx7-0 {
  width: 500px;
}
#item-carrusel-rx6-0,
#tarjeta-carrusel-rx6-0 {
  width: 2750px;
}
.boton-carrusel {
  position: absolute;
  left: 37%;
  display: flex;
  top: 90%;
  text-decoration: none;
  color: $color4;
}

#info-rx7 {
  width: 1200px;
  height: 320px;
  display: none;
}
.items-carrusel-p {
  border-radius: $b-redondo;
  height: 330px;
  width: 250px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  transition: 0.3s;
  border: $borde1;
  background-color: $color3;
  &:hover {
    border: $bordes2;

    .item-carrusel .tarjeta-carrusel .texto-carta a {
      color: $color5;
      font-size: 19px;
      transition: 0.3s;
    }
  }
  a {
    height: 1px;
    width: 100%;
  }
  .item-carrusel {
    height: 330px;
    position: relative;
    width: 250px;

    .tarjeta-carrusel {
      height: inherit;
      width: inherit;

      border-radius: $b-redondo;

      .texto-carta {
        height: 15%;
        display: flex;
        align-items: center;
        padding: 5%;
        padding-top: 0px;

        a {
          display: flex;
          font-size: large;
          text-align: center;
          text-decoration: underline;
          font-weight: bolder;
          color: $color4;
          text-shadow: $sombra-texto;
        }
      }
      img {
        height: 80%;
        width: 100%;
        padding: 10px;
        background-image: $fondo-productos;
      }
    }
  }

  .flechas-carrusel {
    top: 50%;
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    .flechaizq {
      display: flex;
      justify-content: left;
      height: 50px;
      width: 20%;
      img {
        height: 20px;
        width: 20px;
        position: top;
        scroll-margin-top: 0;
        z-index: 10;
      }
    }
    .espacioflechas {
      display: flex;
      justify-content: center;
      width: 60%;
    }
    .flechader {
      display: flex;
      justify-content: right;
      height: 50px;
      width: 20%;
      img {
        height: 20px;
        width: 20px;
        position: top;
        scroll-margin-top: 0;
        z-index: 10;
      }
    }
  }
}
